<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    
    {{{body}}}
    
    <footer>
      &copy; 2023 My Movie Review App. All rights reserved.
    </footer>
    
    <script src="/public/js/main.js"></script>
  </body>
</html>
